body {
    background-color: #cfebdf;
    text-align: center;
}

p {
    font-family: Inter;
    font-size: 15px;
    text-align: match-parent;
}
button {
    background-color: #455d75;
    color: white;
    padding: 10px;
    width: 200px;
    text-transform: uppercase;
    margin-top: 50px;
    border: none;
    border-radius: 20px;
}

button:hover {
    background-color: #455d75;
}
h1 {
    font-family: Playfair Display;
    font-size: 50px;
    background-color: #455d75;
    color: white;
}

h2 {
    background-color: #9cb4bc;
    color: 
}
h3 {
    font-family: Playfair Display;
}

ul {
    text-align: center;
}
img {
    padding: 10px;
    border-radius: 10px;
    margin-top: 25px;
    border-color: #9cb4bc;
}
