body {
    background-color: #cfebdf;
}

button {
    background-color: #455d75;
    color: white;
    padding: 10px;
    width: 200px;
    text-transform: uppercase;
    margin-top: 50px;
    border: none;
    border-radius: 20px;
}

h1 {
    font-family: Playfair Display;
    
}

h3 {
    font-family: Playfair Display;
}